h1{
    text-align: center;
    font-size: 48px;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn{
    width: 80px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: red;
    color: white;
}

.btn2{
    width: 80px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: green;
    color: white;
}


.btn3{
    width: 80px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: blue;
    color: white;
}